.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--wrapper-bg-color);
  background: var(--wrapper-bg-gradient);
  min-height: 100vh;
}
