.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      rgba(49, 57, 62, 0.7),
      rgba(45, 52, 57, 0.7)
    ),
    url("../../assets/images/asyncrace2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
