.header {
  background-image: var(--header-gradient),
    url("../../assets/images/asyncrace2.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px 20px 0px 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  flex-wrap: nowrap;
}
