.manageGarage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: var(--form-block-bg-color);
  align-self: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
}
