@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spinAnimation {
  to {
    --bg-angle: 360deg;
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  box-shadow: var(--shadow-color);
  background: var(--button-background-color);
  border-radius: 15px;
}

.button:hover:not(:disabled):not(.start, .race) {
  background: var(--button-background-color-hover);
}

.button:active:not(:disabled) {
  position: relative;
  top: 1px;
}

.button.medium {
  min-width: 126px;
}

.start {
  color: var(--color-light);
  text-shadow: 0px 0.5px 0px var(--color-ligh-1);

  border-radius: 1rem;
  animation: spinAnimation 2.5s infinite linear paused;
  background:
    var(--start-car-bg-color) padding-box,
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        var(--border-fg-color) 0 0
      )
      border-box;
  border: 2px solid transparent;
}

.start:hover:not(:disabled) {
  background:
    var(--start-car-bg-color-hover) padding-box,
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        var(--border-fg-color) 0 0
      )
      border-box;
  animation-play-state: running;
}

.button.stop {
  color: var(--color-light);
  text-shadow: 0px 1px 0px var(--color-ligh-1);
  background: var(--stop-car-bg-color);
}

.button.stop:hover:not(:disabled) {
  background: var(--stop-car-bg-color-hover);
}

.race {
  border-radius: 1rem;
  animation: spinAnimation 2.5s infinite linear paused;
  background:
    var(--race-btn-bg-color) padding-box,
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        oklch(0.86 0.36 0) 0 0
      )
      border-box;
  border: 2px solid transparent;
  color: var(--color-light);
}

.race:hover:not(:disabled) {
  background:
    var(--race-btn-bg-color-hover) padding-box,
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        oklch(0.86 0.36 0) 0 0
      )
      border-box;
  animation-play-state: running;
}
