.carBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  align-self: center;
  padding: 15px;
  margin-bottom: 10px;
  background: var(--form-block-bg-color);
  border-radius: 10px;
  width: 100%;
  justify-content: space-evenly;
  align-items: stretch;
  row-gap: 10px;
  flex-direction: column;
}
