.carBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: center;
  padding: 5px;
  margin-bottom: 5px;
  background: var(--form-block-bg-color);
  border-radius: 10px;
  width: 100%;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
}

.carName {
  color: var(--vanilla);
}
