.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: center;
  padding: 3px 10px;
  margin-bottom: 10px;
  background: var(--form-block-bg-color);
  border-radius: 10px;
}

.currentNumber {
  font-family: "Something", serif;
  color: var(--color-light);
  font-size: 1.4em;
}

.carsCount,
.pageNumber {
  color: var(--vanilla);
  text-align: center;
}
